name: C/C++ CI

on:
  push:
    branches: [master]
    paths-ignore:
      - '**.md'
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            cmake_preset: windows-x86-debug
            devenv_arch: amd64_x86
            bundle_name: metamod-fwgs_windows_x86
          - os: windows-latest
            cmake_preset: windows-x64-debug
            devenv_arch: amd64
            bundle_name: metamod-fwgs_windows_x64
          - os: ubuntu-latest
            cmake_preset: linux-x86-debug
            bundle_name: metamod-fwgs_linux_x86
          - os: ubuntu-latest
            cmake_preset: linux-x64-debug
            bundle_name: metamod-fwgs_linux_x64
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install gcc-multilib g++-multilib cmake

      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@v4

      - name: Create build environment
        run: |
          cmake -E make_directory ${{github.workspace}}/build
          cmake -E make_directory ${{github.workspace}}/bundle
          cmake -E make_directory ${{github.workspace}}/artifacts

      - uses: TheMrMilchmann/setup-msvc-dev@v4
        if: runner.os == 'Windows'
        with:
          arch: ${{ matrix.devenv_arch }}

      - name: Configure CMake
        working-directory: ${{ github.workspace }}/build
        run: cmake "${{ github.workspace }}" --preset ${{ matrix.cmake_preset }}

      - name: Build & install
        working-directory: ${{github.workspace}}/build
        run: |
          cmake --build . --parallel $(nproc)
          cmake --install . --prefix "${{ github.workspace }}/bundle"

      - name: Pack artifact files to archive (Linux)
        if: runner.os == 'Linux'
        run: |
          pushd bundle
          zip -r ../artifacts/${{ matrix.bundle_name }}.zip ./*
          popd

      # we forced to do this split because Git on Windows can't use zip, bruh
      - name: Pack artifact files to archive (Windows)
        if: runner.os == 'Windows'
        run: |
          Compress-Archive -Path bundle\* -Destination artifacts\${{ matrix.bundle_name }}.zip

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.bundle_name }}
          path: artifacts/*

  release:
    name: release-builds
    runs-on: ubuntu-latest
    needs: [build]
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
      - name: Fetch artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts/

      - name: Remove old release
        uses: dev-drprasad/delete-tag-and-release@v0.2.1
        with:
          delete_release: true
          tag_name: continuous
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Repackage binaries and allow GitHub to process removed release for few seconds
        shell: bash
        continue-on-error: true
        run: |
          cd artifacts/
          for i in artifact-*; do
            mv "$i"/* .
            rm -rf "$i"
          done
          ls -R .
          cd ../
          sleep 20s

      - name: Upload new release
        uses: softprops/action-gh-release@v0.1.15
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: artifacts/*
          tag_name: continuous
          draft: false
          prerelease: true
          name: Metamod-FWGS Continuous Build
